In [ ]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.87)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.28.1)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.9.24)

In [ ]:
import yfinance as yf

msft = yf.Ticker("AAPL")

# get stock info
msft.info

# get historical market data
hist = msft.history(period="1y")

hist[['Volume'][0]]

Date
2021-11-17 00:00:00-05:00     88807000
2021-11-18 00:00:00-05:00    137827700
2021-11-19 00:00:00-05:00    117305600
2021-11-22 00:00:00-05:00    117467900
2021-11-23 00:00:00-05:00     96041900
                               ...
2022-11-10 00:00:00-05:00    118854000
2022-11-11 00:00:00-05:00     93903800
2022-11-14 00:00:00-05:00     73374100
2022-11-15 00:00:00-05:00     89868300
2022-11-16 00:00:00-05:00     64170900
Name: Volume, Length: 252, dtype: int64

In [ ]:
hist[["Close", "Volume"]]

                                Close     Volume
Date
2021-11-17 00:00:00-05:00  152.604340   88807000
2021-11-18 00:00:00-05:00  156.959045  137827700
2021-11-19 00:00:00-05:00  159.623581  117305600
2021-11-22 00:00:00-05:00  160.090881  117467900
2021-11-23 00:00:00-05:00  160.478622   96041900
...                               ...        ...
2022-11-10 00:00:00-05:00  146.869995  118854000
2022-11-11 00:00:00-05:00  149.699997   93903800
2022-11-14 00:00:00-05:00  148.279999   73374100
2022-11-15 00:00:00-05:00  150.039993   89868300
2022-11-16 00:00:00-05:00  148.789993   64170900

[252 rows x 2 columns]

In [ ]:
# k是某天的成交量
# acc = list(hist[["Volume"]].iloc[:, 0])
# acc

In [ ]:
V0 = hist['Volume'].mean()
data = hist[["Close", "Volume"]]
data

                                Close     Volume
Date
2021-11-17 00:00:00-05:00  152.604340   88807000
2021-11-18 00:00:00-05:00  156.959045  137827700
2021-11-19 00:00:00-05:00  159.623581  117305600
2021-11-22 00:00:00-05:00  160.090881  117467900
2021-11-23 00:00:00-05:00  160.478622   96041900
...                               ...        ...
2022-11-10 00:00:00-05:00  146.869995  118854000
2022-11-11 00:00:00-05:00  149.699997   93903800
2022-11-14 00:00:00-05:00  148.279999   73374100
2022-11-15 00:00:00-05:00  150.039993   89868300
2022-11-16 00:00:00-05:00  148.789993   64170900

[252 rows x 2 columns]

In [ ]:
import pandas as pd
df = pd.DataFrame(hist[['Volume'][0]]) #因為是三維(xyz)資料，所以先取出第一張表
df.to_csv('test.csv') # 匯出資料表
df

                              Volume
Date
2021-11-17 00:00:00-05:00   88807000
2021-11-18 00:00:00-05:00  137827700
2021-11-19 00:00:00-05:00  117305600
2021-11-22 00:00:00-05:00  117467900
2021-11-23 00:00:00-05:00   96041900
...                              ...
2022-11-10 00:00:00-05:00  118854000
2022-11-11 00:00:00-05:00   93903800
2022-11-14 00:00:00-05:00   73374100
2022-11-15 00:00:00-05:00   89868300
2022-11-16 00:00:00-05:00   64170900

[252 rows x 1 columns]

In [ ]:
df = pd.read_csv('test.csv')
df

                          Date     Volume
0    2021-11-17 00:00:00-05:00   88807000
1    2021-11-18 00:00:00-05:00  137827700
2    2021-11-19 00:00:00-05:00  117305600
3    2021-11-22 00:00:00-05:00  117467900
4    2021-11-23 00:00:00-05:00   96041900
..                         ...        ...
247  2022-11-10 00:00:00-05:00  118854000
248  2022-11-11 00:00:00-05:00   93903800
249  2022-11-14 00:00:00-05:00   73374100
250  2022-11-15 00:00:00-05:00   89868300
251  2022-11-16 00:00:00-05:00   64170900

[252 rows x 2 columns]

In [ ]:
sum = 0 # V0到V251的加總
V0 = hist['Volume'].mean() # 特定值範圍 = Volume資料的中位數
S_diff = [] # 最後一個值減掉現在在算的值
S_date = [] # 最後一個時間和現在時間

for n,value in enumerate(df['Volume']): # 用enumerate函數取得key值(編號)和value值(Volume)
  
  sum+=int(value) # V0到V251的加總
  if sum < V0: # 如果目前加總值 < 中位數
    S_diff.append(int(df['Volume'][len(df)-1])-int(value)) # 最後一個值減掉現在在算的值
    S_date.append([df['Date'][len(df)-1], df['Date'][n]]) # 最後一個時間和現在時間

p = max(S_diff) # S_diff的最大值 
print(p)
D = S_date 
print(D)

# 因為第一個Volume+第二個Volume就已經大於中位數，所以只有跑出兩筆資料
# 64170900-88807000 = -24636100
# 因為原本兩個迴圈都用range，所以用一個enumerate寫

-24636100
[['2022-11-16 00:00:00-05:00', '2021-11-17 00:00:00-05:00']]

In [ ]:
hist['Volume'].mean()

91973623.8095238

In [ ]:
sum = 0
V0 = hist['Volume'].mean()
S_diff = []
S_date = []
volume1 = []

for n in range(0, len(df['Volume'])):

  volume1.append(df['Volume'][n])

  #print(df['Volume'][n])
for j in volume1:
  sum+=int(j)
  if sum < V0:
    S_diff.append(int(df['Volume'][len(df)-1])-int(j))
    S_date.append([df['Date'][len(df)-1], df['Date'][]])

p = max(S_diff)
print(p)
D = S_date
print(sorted(D))

-24636100
[['2022-11-16 00:00:00-05:00', '2022-11-16 00:00:00-05:00']]

In [ ]:
print(data.iloc[0, 1])
print(data.iloc[-1, 1])
print(data.iloc[data.shape[0]-1, 1])
s_sum = 0
for i in range(0, data.shape[0]-1):
  s_sum = s_sum+data.iloc[i, 1]
print(s_sum)

88807000
64170900
64170900
23113182300

In [ ]:
# for i in range(0, data.shape[0]):
#   print(int(data.iloc[i, 0]), int(data.iloc[i, 1]))

#if(s_sum<V0):
print(data.iloc[251, 0]-data.iloc[0, 0])
print(data.iloc[251],data.iloc[1])

-3.8143463134765625
Close     1.487900e+02
Volume    6.417090e+07
Name: 2022-11-16 00:00:00-05:00, dtype: float64 Close     1.569590e+02
Volume    1.378277e+08
Name: 2021-11-18 00:00:00-05:00, dtype: float64

In [ ]:
# 三維資料第一個表的Volume欄位
acc = [] # acc串列
for i in hist[['Volume'][0]]:
  acc.append(i)
acc

[88807000,
 137827700,
 117305600,
 117467900,
 96041900,
 69463600,
 76959800,
 88748200,
 174048100,
 152052500,
 136739200,
 118023100,
 107497000,
 120405400,
 116998900,
 108923700,
 115402700,
 153237000,
 139380400,
 131063300,
 150185800,
 195432700,
 107499100,
 91185900,
 92135300,
 68356600,
 74919600,
 79144300,
 62348900,
 59773000,
 64062300,
 104487900,
 99310400,
 94537600,
 96904000,
 86709100,
 106765600,
 76138300,
 74805200,
 84505800,
 80440800,
 90956700,
 94815000,
 91420500,
 122848900,
 162294600,
 115798400,
 108275300,
 121954600,
 179935700,
 115541600,
 86213900,
 84914300,
 89418100,
 82465400,
 77251200,
 74829200,
 71285000,
 90865900,
 98670700,
 86185500,
 62527400,
 61177400,
 69589300,
 82772700,
 91162800,
 90009200,
 141147500,
 91974200,
 95056600,
 83474400,
 79724800,
 76678400,
 83737200,
 96418800,
 131148300,
 91454900,
 105342000,
 96970100,
 108732100,
 92964300,
 102300200,
 75615400,
 123511700,
 95811400,
 81532000,
 98062700,
 90131400,
 80546200,
 90371900,
 100589400,
 92633200,
 103049300,
 78751300,
 76468400,
 73401800,
 89058800,
 77594700,
 76575500,
 72246700,
 79265200,
 70618900,
 75329400,
 69023900,
 67723800,
 67929800,
 87227800,
 84882400,
 96046400,
 95623200,
 88063200,
 130216800,
 131747600,
 123055300,
 88966500,
 108256500,
 130525300,
 116124600,
 131577900,
 115366700,
 142689800,
 182602000,
 113990900,
 86643800,
 78336300,
 109742900,
 136095600,
 137426100,
 117726300,
 104132700,
 92482700,
 90601500,
 90978500,
 103718400,
 74286600,
 72348100,
 88570300,
 71598400,
 67808200,
 53950200,
 69473000,
 91437900,
 122207100,
 84784300,
 91533000,
 108123900,
 134520300,
 81000500,
 73409200,
 72433800,
 89116800,
 70207900,
 67083400,
 66242400,
 98964500,
 71051600,
 73353800,
 74064300,
 66253700,
 64547800,
 63141600,
 77588800,
 71185600,
 78140700,
 76259900,
 81420900,
 82982400,
 64823400,
 65086600,
 66675400,
 53623900,
 55138700,
 78620700,
 81378700,
 101786900,
 67829400,
 59907000,
 82507500,
 55474100,
 56697000,
 60276900,
 63135500,
 70170500,
 57149200,
 68039400,
 54091700,
 56377100,
 79542000,
 62290100,
 70346300,
 69026800,
 54147100,
 53841500,
 51218200,
 78961000,
 73314000,
 77906200,
 87991100,
 74229900,
 76957800,
 73714800,
 87449600,
 84923800,
 68028800,
 104956000,
 122656600,
 87965400,
 90481100,
 162278800,
 81474200,
 107689800,
 101696800,
 86652500,
 96029900,
 93339400,
 84442700,
 146691400,
 128138200,
 124925300,
 114311700,
 87830100,
 79471000,
 68402200,
 85925600,
 74899000,
 77033700,
 70433700,
 113224000,
 88598000,
 85250900,
 99136600,
 61758300,
 64522000,
 86548600,
 75981900,
 74732300,
 88194300,
 109180200,
 164762400,
 97943200,
 80379300,
 93604600,
 97918500,
 140716700,
 83374600,
 89908500,
 74917800,
 118854000,
 93903800,
 73374100,
 89868300,
 64170900]

![Screen Shot 2022-11-9 at 下午 06.51.png]()

**一直用Sn**-**Sk直到找到最大值**

In [ ]:
from pandas.core.indexes.extension import deprecate_ndim_indexing
import pandas as pd
import numpy as np

#設定一個空的k及delta, 初值皆為NaN
k = np.empty(len(hist))
delta = np.empty(len(hist))

k[:] = np.nan
delta[:] = np.nan

#將Volumn存在volume中
volume = list(hist[["Volume"]].iloc[:, 0])

#================================
#任意設定一個V0值
#================================
V0 = np.mean(volume)

#用迴圈找出每個索引值的k
for i in range(0, len(hist)):
    t=np.nan
    for j in range(i+1):
        if sum(volume[j:i]) < V0:
            t=j 
            break
    k[i]=t 

#找出每個索引值的delta
for i in range(0, len(hist)):
    t=[]
    for j in range(int(k[i]), i):
        t.append(volume[i]-volume[j])
  
    if len(t)==0:
        delta[i] = np.nan
    else:
        delta[i] = max(t)

#印delta變化量
delta

TypeError: ignored

![Screen Shot 2022-11-9 at 下午 06.53.png]()

**prob機率要小於**

In [ ]:
#在求信賴區間，左邊是<，右邊是>
#將delta(list)轉成df_delta(DataFrame)
df_delta = pd.DataFrame(delta)

#平均數/標準誤

m = float(df_delta.mean())
se = float(df_delta.std() / len(hist)**0.5)

#推論x值(假設a=0.05)
print(m-1.96*se) #常態分配1.96倍